# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
weather_df = pd.read_csv('City_Weather.csv')
weather_df.describe()

,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
count,574.000000,574.000000,574.000000,574.000000,574.000000,574.000000
mean,21.409044,20.549707,61.228990,70.263066,59.439024,7.873554
std,33.122550,92.362501,21.012836,21.919863,41.395158,5.856576
min,-54.800000,-179.166700,-5.690000,9.000000,0.000000,0.000000
25%,-3.954175,-61.732200,45.537500,60.000000,11.000000,3.537500
50%,25.967100,25.770250,66.750000,76.000000,75.000000,6.365000
75%,49.684175,104.167050,78.190000,86.000000,100.000000,11.137500
max,78.218600,179.316700,101.280000,100.000000,100.000000,43.730000

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
# configure gmaps
gmaps.configure(api_key=g_key)

# set layout
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

# set locations to lat long from city data and weight to humidity %
locations = weather_df[['Latitude','Longitude']]
humidity = weather_df['Humidity (%)']

# add heat layer 
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
hotel_df = weather_df[(weather_df["Max Temperature (F)"]<80)&
                      (weather_df["Max Temperature (F)"]>65)&
                     (weather_df["Humidity (%)"]<75)&
                     (weather_df["Wind Speed (mph)"]<10)&
                     (weather_df["Cloudiness (%)"]<50)]
hotel_df.dropna()

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
13,Alirajpur,22.3031,74.3546,78.12,50,0,2.57,IN,"Oct 21, 2022"
27,Choix,26.7092,-108.3219,71.19,62,12,4.00,MX,"Oct 21, 2022"
116,Celestún,20.8667,-90.4000,75.90,60,6,5.14,MX,"Oct 21, 2022"
133,Yeola,20.0333,74.4833,75.87,73,25,9.28,IN,"Oct 21, 2022"
150,San Cristobal,7.7669,-72.2250,79.92,59,34,1.54,VE,"Oct 21, 2022"
187,Kassiopi,39.7886,19.9186,74.84,70,0,3.44,GR,"Oct 21, 2022"
222,Alice Springs,-23.7000,133.8833,69.35,37,0,0.00,AU,"Oct 21, 2022"
228,Attock,33.7695,72.3611,73.17,32,0,3.13,PK,"Oct 21, 2022"
231,Villa María,-32.4075,-63.2402,79.83,34,5,6.91,AR,"Oct 21, 2022"
240,Raebareli,26.2167,81.2333,76.48,54,0,4.70,IN,"Oct 21, 2022"
272,Chalmette,29.9427,-89.9634,69.01,56,0,8.05,US,"Oct 21, 2022"
306,Horqueta,-23.3428,-57.0597,76.80,59,4,7.29,PY,"Oct 21, 2022"
337,Grand Gaube,-20.0064,57.6608,75.38,72,3,5.01,MU,"Oct 21, 2022"
341,Puerto Escondido,15.8500,-97.0667,77.83,73,40,6.91,MX,"Oct 21, 2022"
353,Faya,18.3851,42.4509,70.32,36,4,4.97,SA,"Oct 21, 2022"
354,Bharwāri,25.5500,81.5000,77.04,55,0,3.62,IN,"Oct 21, 2022"
375,Kaifeng,34.7911,114.3483,65.25,30,0,3.18,CN,"Oct 21, 2022"
376,Benjamín Aceval,-24.9667,-57.5667,77.14,58,0,6.67,PY,"Oct 21, 2022"
387,Shahreza,32.0339,51.8794,67.64,15,0,3.98,IR,"Oct 21, 2022"
400,Kodarmā,24.4667,85.6000,70.47,65,0,2.98,IN,"Oct 21, 2022"
414,Margate,51.3813,1.3862,67.30,73,18,8.01,GB,"Oct 21, 2022"
415,Katwa,23.6399,88.1280,75.79,63,0,6.76,IN,"Oct 21, 2022"
421,Kesinga,20.2000,83.2333,69.80,71,0,2.82,IN,"Oct 21, 2022"
430,Būrewāla,30.1667,72.6500,77.94,25,0,7.90,PK,"Oct 21, 2022"
434,San Patricio,28.0170,-97.5169,72.88,69,0,9.84,US,"Oct 21, 2022"
446,Imbituba,-28.2400,-48.6703,76.86,73,15,6.08,BR,"Oct 21, 2022"
447,Pāsighāt,28.0667,95.3333,70.57,69,0,4.54,IN,"Oct 21, 2022"
457,Kahului,20.8947,-156.4700,69.82,73,0,4.61,US,"Oct 21, 2022"
469,Kerman,30.2832,57.0788,72.52,15,34,3.11,IR,"Oct 21, 2022"
489,San Luis Río Colorado,32.4631,-114.7767,71.26,34,5,2.06,MX,"Oct 21, 2022"
504,Deyang,31.1302,104.3820,69.87,49,3,1.34,CN,"Oct 21, 2022"
505,Luoyang,34.6836,112.4536,67.21,42,0,3.29,CN,"Oct 21, 2022"
523,Nurota,40.5614,65.6886,66.81,16,2,4.18,UZ,"Oct 21, 2022"
550,Zhifang,30.3500,114.3167,66.54,57,9,2.84,CN,"Oct 21, 2022"
571,Presidencia Roque Sáenz Peña,-26.7852,-60.4388,79.11,43,0,5.59,AR,"Oct 21, 2022"

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df["Hotel Name"] = ""
hotel_df.head()

C:\Users\Patrick\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
13,Alirajpur,22.3031,74.3546,78.12,50,0,2.57,IN,"Oct 21, 2022",
27,Choix,26.7092,-108.3219,71.19,62,12,4.00,MX,"Oct 21, 2022",
116,Celestún,20.8667,-90.4000,75.90,60,6,5.14,MX,"Oct 21, 2022",
133,Yeola,20.0333,74.4833,75.87,73,25,9.28,IN,"Oct 21, 2022",
150,San Cristobal,7.7669,-72.2250,79.92,59,34,1.54,VE,"Oct 21, 2022",

In [12]:
target_search = "hotel"
for index, row in hotel_df.iterrows():
    target_coordinates = str(hotel_df.loc[index,"Latitude"])+","+str(hotel_df.loc[index, "Longitude"])
    # set up a parameters dictionary
    params = {
        'radius':50000,
        'keyword':target_search,
        "location": target_coordinates,
        "key": g_key
    }
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # run a request using our params dictionary
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        first_result = results[0]
             
        # grab name
        hotel_df.loc[index, 'Hotel Name']=first_result.get('name')
    except(IndexError):
        print(f'No hotels found in the area')
hotel_df.head()

C:\Users\Patrick\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hotel Name
13,Alirajpur,22.3031,74.3546,78.12,50,0,2.57,IN,"Oct 21, 2022",Lake N Hills Resort
27,Choix,26.7092,-108.3219,71.19,62,12,4.00,MX,"Oct 21, 2022",Posada Del Hidalgo Hotel
116,Celestún,20.8667,-90.4000,75.90,60,6,5.14,MX,"Oct 21, 2022",Hotel Playa Maya Resorts
133,Yeola,20.0333,74.4833,75.87,73,25,9.28,IN,"Oct 21, 2022","The Temple View Hotel, Shirdi"
150,San Cristobal,7.7669,-72.2250,79.92,59,34,1.54,VE,"Oct 21, 2022",Lidotel Hotel Boutique San Cristobal

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hover_text= hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…